.wiki-list {
    .listtitle {
        margin-left: 20px;
        padding-top: 25px;
        padding-bottom: 10px;
        color: #777;
    }
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #fff;
    }
}

.wiki-list.collapse-exit {
    transform: scaleY(1);
    transform-origin: top;
}

.wiki-list.collapse-exit-active {
    transition-property: transform, margin-bottom;
    transition-duration: 3000ms;
    transform: scaleY(0);
    margin-bottom: -117px;
}