section.card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(128, 131, 138, 0.28); // box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    .card-header {
        display: flex;
        padding: 15px 10px;
        img {
            width: 40px;
            height: 40px;
            margin-right: 12px;
            background-color: lightblue;
            border-radius: 2px;
        }
        .card-titles {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 0;
                margin-bottom: -10px; // make space for header
                font-size: 12px;
                color: #777;
            }
            h4 {
                margin: 0;
                font-size: 15px;
                color: #777;
            }
        }
    }
    .card-body {
        .imgCover {
            height: 196px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .fa-bookmark,
        .fa-bookmark-o {
            margin-right: 4px;
        }
        .bookmark-svg {
            vertical-align: middle;
            svg {
                height: 16px;
                width: auto;
                margin-right: 4px;
            }
        }
        .card-body-content {
            padding: 12px;
            color: #333;
            * {
                margin-top: 0px;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            h2 {
                font-size: 22px;
                font-weight: 400;
            }
            p {
                font-size: 15px;
            }
        }
    }
    footer {
        display: flex;
        justify-content: space-between;
        height: 46px;
        padding: 12px;
        align-items: center;
        background-color: #f5fafb;
        color: #777;
    }
}

