#bottom-navbar {
    display: flex;
    height: $bottom-navbar-hegith;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid #888;
    background-color: #fafafa;
    a {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        color: black;
        text-decoration: none;
        &.apptabbar-active {
            color: blue;
        }
    }
}

main {
    margin-bottom: $bottom-navbar-hegith - 1px;
}