$bottom-navbar-hegith: 50px;
$top-navbar-height: 46px;
@mixin dev-outline {
    box-shadow: 0 0 0 0.5px #00bb00;
}

@import './font-awesome/scss/font-awesome.scss';
@import './reset.scss';
@import './components/bottom-navbar/style.scss';
@import './components/top-navbar/style.scss';
@import './components/wiki-list-item/style.scss';
@import './components/wiki-list/style.scss';
@import './components/card/style.scss';
@import './components/action-sheet/style.scss';

@import './pages/explore/style.scss';
@import './pages/wiki/style.scss';
@import './pages/settings/style.scss';
@import './pages/search/style.scss';
@import './pages/fullList/style.scss';





