.wiki {
    min-height: 100vh;
    background-color: white;
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
}

@mixin trans-time {
    transition-duration: 3000ms;
}

.animation-action-push {
    .wiki.page-enter {
        position: fixed;
        top: 0;
        width: 100%;
        transform: translateX(100%);
        z-index: 10000;
    }
    .wiki.page-enter-active {
        transform: translateX(0%);
        box-shadow: -8px 0px 20px 0px #b9b9b9;
        transition-property: transform, box-shadow;
        @include trans-time;
    }
}

.animation-action-pop {
    .wiki.page-exit {
        transform: translateX(0%); // position: fixed;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10000;
        box-shadow: -8px 0px 20px 0px #b9b9b9;
    }
    .wiki.page-exit-active {
        transform: translateX(100%);
        box-shadow: none;
        @include trans-time;
        transition-property: transform, box-shadow;
    }
}